/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS Reset*/

/*最外層的wrap*/
.wrap{
    width: 1024px;
    height: 399px;
    margin: 0 auto;
    background-image: url(../images/img-headerShape.png);
}
/*最外層的wrap*/

/*header的相關設定*/
.header{
    position: relative;
}

.header .portrait{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 135px;
    margin-top: 125px;
}

.header .portrait p{
    text-align: center;
}

.header .portrait .name{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 42px;
}

.header .portrait .company{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 14px;
    color: #4A4A4A;
    margin-top: 9px;
}

.header .portrait .jobtitle{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 14px;
    color: #4A4A4A;
    margin-top: 9px;
}

.header .infomation .location{
    width: 28px;
    height: 36px;
}

.header .infomation{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 422px;
    margin-top: 125px;
}

.header .infomation .info-1{
    display: flex;
}

.header .infomation .info-2{
    display: flex;
    margin-top: 15px;
}

.header .infomation .info-3{
    display: flex;
    margin-top: 15px;
}

.infomation .info-1 p{
   padding-left: 10px;
   padding-top: 10px;
   color: #ffffff;
}

.infomation .info-2 p{
    padding-left: 10px;
    padding-top: 5px;
    color: #ffffff;
 }

 .infomation .info-3 p{
    padding-left: 10px;
    padding-top: 10px;
    color: #ffffff;
 }
/*header的相關設定*/




